absl-py
clip
einops
faiss-cpu
gsplat
gdown
h5py
huggingface-hub
imageio
lpips
matplotlib
networkx
ninja
numpy
omegaconf
open3d
opencv-python
pandas
pillow
plotly
plyfile
poselib
pycocotools
pycolmap
pyquaternion
pytorch3d
PyYAML
rich
scikit-image
scikit-learn
scipy
shapely
tensorboard
timm
tqdm
trimesh
wandb
yacs